/* This stylesheet contains some colors used in the example */



.innerBoxes {
  background-color: #090000;
}

.facebookColor {
  background-color: #3B5998;
}

.linkedInColor {
  background-color: #1C87BD;
}

.youtubeColor {
  background-color: #EE1C1B;
}
